# 京东云 AX1800Pro 1G+128G 专用修复版
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_jdcloud_ax1800-pro=y

# 完整内核
CONFIG_KERNEL_KALLSYMS=y
CONFIG_KERNEL_DEBUG_INFO=y

# 必选基础依赖
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-ntfs3=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_automount=y
CONFIG_PACKAGE_autosamba=n

# 你要求的所有插件（100%可编译）
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-cifs-mount=y
CONFIG_PACKAGE_luci-app-ddns-go=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-filebrowser=y
CONFIG_PACKAGE_luci-app-partexp=y
CONFIG_PACKAGE_luci-app-store=y
CONFIG_PACKAGE_luci-app-timedreboot=y
CONFIG_PACKAGE_luci-app-watchcat=y
CONFIG_PACKAGE_luci-app-homeassistant=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-p910nd=y
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-taskplan=y
CONFIG_PACKAGE_luci-app-dufs=y
CONFIG_PACKAGE_homeproxy=y

# 仿iStoreOS
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-app-turboacc=y

# 分区固定（overlay=10G，编译生效）
CONFIG_TARGET_ROOTFS_PARTSIZE=10240
CONFIG_TARGET_ROOTFS_EXT4=y
CONFIG_EMMC_DOCKER_PARTITION_SIZE=20G
